body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,li,ol,form,input,fieldset,legend{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none;color:#5a3135;}
img{border:none;}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal;}
em,i{font-style:normal;}
body{font-size:12px;color:#5a3135;font-family:"微软雅黑";}
.left{float:left;}
.right{float:right;}
.clearBoth{clear:both;}